.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.514)), url('./../images/Dress.jpg');
    height: 100vh;
    background-attachment: fixed;

    &__hero-content{
        width: 50%;
        text-align: center;
        padding: 1rem 0;
        position: absolute;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }


    &__description{
        font-size: 1.3rem;
        color: whitesmoke;
        margin-bottom: 2rem;
    }

} 